{% extends "inicio/encabezado.html" %}
{% block titulo %}Biblioteca{% endblock %}
{% block contenido %}
{% load static %}

<style>
    .card {
        background-color: #baa59a;
    }
    
</style>

<!-- Start Search and Filter -->
<section class="container py-2">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Biblioteca Digital</h1>
            <p>Encuentra y explora nuestros libros disponibles en diferentes géneros.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 mb-4">
            <input type="text" class="form-control" placeholder="Buscar libros..." aria-label="Buscar libros" aria-describedby="button-search">
        </div>
        <div class="col-12 col-md-4 mb-4">
            <select class="form-select" aria-label="Seleccionar género">
                <option selected>Seleccionar género</option>
                <option value="1">Ficción</option>
                <option value="2">No ficción</option>
                <option value="3">Ciencia</option>
                <option value="4">Historia</option>
                <option value="5">Biografía</option>
                <option value="6">Fantasía</option>
            </select>
        </div>
    </div>
</section>
<!-- End Search and Filter -->

<!-- Start Featured Books -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="{% url 'Libros' %}">
                        <img src="{% static 'inicio/img/fisicacuantica.png' %}" class="card-img-top" alt="Fisica Cuantica">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                            </li>
                        </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">Fisica Cuantica</a>
                        <p class="card-text">
                            Explora el mundo de la física cuántica con este fascinante libro.
                        </p>
                        <p class="text-muted">Reseñas (24)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="{% static 'inicio/img/diccionario.png' %}" class="card-img-top" alt="Diccionario Español-Ingles">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                            </li>
                        </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">Diccionario Español-Ingles</a>
                        <p class="card-text">
                            Un recurso esencial para aprender y mejorar tu inglés.
                        </p>
                        <p class="text-muted">Reseñas (48)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="{% static 'inicio/img/biologia2.png' %}" class="card-img-top" alt="Biologia">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                            </li>
                        </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">Biología</a>
                        <p class="card-text">
                            Un viaje a través de los secretos de la biología.
                        </p>
                        <p class="text-muted">Reseñas (74)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="{% static 'inicio/img/Bluelock.png' %}" class="card-img-top" alt="Biologia">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                            </li>
                        </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">Bluelock Tomo 4</a>
                        <p class="card-text">
                            Dejate llevar con esta increible historia que combina ciencia ficcion con futbol
                        </p>
                        <p class="text-muted">Reseñas (24)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="{% static 'inicio/img/BosqueOscuro.jpg' %}" class="card-img-top" alt="Biologia">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                            </li>
                        </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">Teoria del bosque oscuro</a>
                        <p class="card-text">
                            Adentrate a la teoria del universo, ¿Realmente estamos solos en el universo?.
                        </p>
                        <p class="text-muted">Reseñas (48)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="{% static 'inicio/img/48leyes.png' %}" class="card-img-top" alt="Biología">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                            </li>
                        </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">Las 48 Leyes del Poder</a>
                        <p class="card-text">
                            Psicología Oscura, aprende los trucos de la manipulación con las 48 leyes del poder. 
                        </p>
                        <p class="text-muted">Reseñas (24)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Featured Books -->

{% endblock %}
