{% extends "inicio/encabezado.html" %}
{% block titulo %}Biblioteca{% endblock %}
{% block contenido %}
{% load static %}

<style>
    .card {
        background-color: #baa59a;
    }
    .book-image {
        width: 100%;
        height: 500px; 
        object-fit: cover;
    }
</style>

<!-- Start Search and Filter -->
<section class="container py-2">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Biblioteca Digital</h1>
            <p>Encuentra y explora nuestros libros disponibles en diferentes géneros.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 mb-4">
            <input type="text" class="form-control" placeholder="Buscar libros..." aria-label="Buscar libros" aria-describedby="button-search">
        </div>
        <div class="col-12 col-md-3 mb-3">
            <select class="form-select" aria-label="Seleccionar género">
                <option selected>Seleccionar género</option>
                <option value="1">Ficción</option>
                <option value="3">Ciencia</option>
                <option value="4">Historia</option>
                <option value="5">Biografía</option>
                <option value="6">Fantasía</option>
            </select>
        </div>
    </div>
</section>
<!-- End Search and Filter -->

<!-- Start Featured Books -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row">
            {% for libro in libros %}
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="{% url 'libro_detallebd' libro.id_libro %}">
                        <img src="{{ libro.imagen.url }}" class="card-img-top book-image" alt="{{ libro.nombre }}">
                    </a>
                    <div class="card-body">
                        <a href="{% url 'libro_detallebd' libro.id_libro %}" class="h2 text-decoration-none text-dark">{{ libro.nombre }}</a>
                        <p class="card-text">
                            {{ libro.descripcion }}
                        </p>
                        <p class="text-muted">Reseñas ({{ libro.reseñas.count }})</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Featured Books -->

{% endblock %}
