{% extends "inicio/encabezado.html" %}
{% block titulo %}Contactanos{% endblock %}
{% block contenido %}
{% load static %}
<section class="service_section layout_padding">
  <div class="container">
    <div class="d-flex flex-column align-items-end">
      <div class="custom_heading-container">
        <hr>
        <h2>Contactanos</h2>
      </div>
      <p>Dinos tus comentarios y sugerencias</p>
    </div>
  </div>
  <form class="form-horizontal" action="{% url 'Registrar' %}" method="POST" role="form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container py-5">
      <div class="row py-5">
        <div class="mb-3">
          <input type="text" class="form-control mt-1" id="subject" name="asunto" placeholder="Asunto">
        </div>
        <div class="mb-3">
          <textarea class="form-control mt-1" id="message" name="mensaje" placeholder="Mensaje" rows="8"></textarea>
        </div>
        <div class="row">
          <div class="col text-end mt-2">
            <button type="submit" class="btn btn-success btn-lg px-3">Enviar</button>
          </div>
        </div>
      </div>
    </div>
</form>
</section>
  

{% endblock %}
