{% extends "inicio/encabezado.html" %}
{% block titulo %}Libros{% endblock %}
{% block contenido %}
{% load static %}


<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Open Content -->
<section class="bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mt-5">
                <div class="card mb-3">
                    <img class="card-img img-fluid" src="{% static 'inicio/img/fisicacuantica.png' %}" alt="Card image cap" id="product-detail">
                </div>
                <div class="row">
                    <!--Start Controls-->
                    <div class="col-1 align-self-center">
                        <a href="#multi-item-example" role="button" data-bs-slide="prev">
                            <i class="text-dark fas fa-chevron-left"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                    </div>
                    <!--End Controls-->
                    <!--Start Carousel Wrapper-->
                    <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
                        <!--Start Slides-->
                        <div class="carousel-inner product-links-wap" role="listbox">

                            <!--First slide-->
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-4">
                                        <a href="#">
                                            <img class="card-img img-fluid" src="{% static 'inicio/img/fisicacuantica.png' %}" alt="Product Image 1">
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a href="#">
                                            <img class="card-img img-fluid" src="{% static 'inicio/img/fisicacuantica.png' %}" alt="Product Image 2">
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a href="#">
                                            <img class="card-img img-fluid" src="{% static 'inicio/img/Bluelock.png' %}" alt="Product Image 3">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--/.First slide-->
                        </div>
                        <!--End Slides-->
                    </div>
                    <!--End Carousel Wrapper-->
                    <!--Start Controls-->
                    <div class="col-1 align-self-center">
                        <a href="#multi-item-example" role="button" data-bs-slide="next">
                            <i class="text-dark fas fa-chevron-right"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!--End Controls-->
                </div>
            </div>
            <!-- col end -->
            <div class="col-lg-7 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h2">Física Cuantica</h1>
                        <p class="h3 py-2">350 paginas</p>
                        <p class="py-2">
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <span class="list-inline-item text-dark">Rating 4.4 | 4 Reseñas</span>
                        </p>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h6>Autor:</h6>
                            </li>
                            <li class="list-inline-item">
                                <p class="text-muted"><strong>Baldor</strong></p>
                            </li>
                        </ul>

                        <h6>Description:</h6>
                        <p>"Introducción a la Física Cuántica" es una obra fundamental para cualquier persona interesada en entender los principios que gobiernan el mundo subatómico. Este libro ofrece una explicación detallada y accesible de los conceptos clave de la física cuántica, desde los experimentos históricos que dieron origen a la teoría hasta las aplicaciones modernas en tecnología y ciencia.</p>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h6>Fecha de salida :</h6>
                            </li>
                            <li class="list-inline-item">
                                <p class="text-muted"><strong>21/02/2010</strong></p>
                            </li>
                        </ul>

                        <h6>Categorias:</h6>
                        <ul class="list-unstyled pb-3">
                            <li>Educación</li>
                            <li>Fisica</li>
                        </ul>

            
                            <div class="row pb-3">
                                <div class="col d-grid">
                                    <a href="{% url 'descargar_archivo' libro.id_libro %}">Descargar</a>
                                </div>
                                <div class="col d-grid">
                                    <button type="submit" class="btn btn-success btn-lg" name="submit" value="addtocard">Like</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Close Content -->

<!-- Start Article -->
<section class="py-5">
    <div class="container">
        <div class="row text-left p-2 pb-3">
            <h4>Reseñas del producto</h4>
        </div>

        <!--Start Carousel Wrapper-->
        <div id="carousel-related-product">

            <div class="p-2 pb-3">
                <div class="product-wap card rounded-0">
                    <div class="card rounded-0">
                        <img class="card-img rounded-0 img-fluid" src="assets/img/shop_08.jpg">
                    </div>
                    <div class="card-body">
                        <a href="shop-single.html" class="h3 text-decoration-none">Zellensxn</a>
                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                            <li>Esta estupendo para el inicio del tema, aborda grandes ejercicios para asi desarrollar el conocimiento facilmente</li>
                            <li class="pt-2">
                                <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                            </li>
                        </ul>
                        <ul class="list-unstyled d-flex justify-content-center mb-1">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                        </ul>
                        <p class="text-center mb-0">4.0</p>
                    </div>
                </div>
            </div>

            <div class="p-2 pb-3">
                <div class="product-wap card rounded-0">
                    <div class="card rounded-0">
                        <img class="card-img rounded-0 img-fluid" src="assets/img/shop_09.jpg">
                    </div>
                    <div class="card-body">
                        <a href="shop-single.html" class="h3 text-decoration-none">Jordan168</a>
                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                            <li>Excelente edición, me ayudo mucho para practicar y estudiar aunque siento que falto muchisimos más temas y ejercicios interesantes, para alguien que quiera empezar con la fisica cuantica este libro lo puede llegar a confundir </li>
                            <li class="pt-2">
                                <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                            </li>
                        </ul>
                        <ul class="list-unstyled d-flex justify-content-center mb-1">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                        </ul>
                        <p class="text-center mb-0">3.0</p>
                    </div>
                </div>
            </div>

            <div class="p-2 pb-3">
                <div class="product-wap card rounded-0">
                    <div class="card rounded-0">
                        <img class="card-img rounded-0 img-fluid" src="assets/img/shop_10.jpg">
                    </div>
                    <div class="card-body">
                        <a href="shop-single.html" class="h3 text-decoration-none">Chachani</a>
                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                            <li>Me encanto, este es mi tercer libro relacionado con la fisica cuantica y me entretuvieron muchisimo los ejercicios y lecturas de este, creo que actualmente es el mejor que eh leido recomendado</li>
                            <li class="pt-2">
                                <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                            </li>
                        </ul>
                        <ul class="list-unstyled d-flex justify-content-center mb-1">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                            </li>
                        </ul>
                        <p class="text-center mb-0">5.0</p>
                    </div>
                </div>
            </div>  
        </div>

    </div>
    <section class="service_section layout_padding">
        <div class="container">
          <div class="d-flex flex-column align-items-center">
            <div class="custom_heading-container">
              <hr>
              <h2>Reseña</h2>
            </div>
            <p>Dejanos tu reseña de lo que te parecio este libro</p>
          </div>
        </div>
        <form class="form-horizontal" action="{% url 'Registrar' %}" method="POST" role="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container py-5">
                <div class="row py-5">
                    <div class="mb-3">
                        <label for="rating" class="form-label">Calificación (1-5)</label>
                        <select class="form-select mt-1" id="rating" name="calificacion">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="comment" class="form-label">Comentario</label>
                        <textarea class="form-control mt-1" id="comment" name="comentario" placeholder="Agrega tu comentario" rows="8"></textarea>
                    </div>
                    <div class="row">
                        <div class="col text-end mt-2">
                            <button type="submit" class="btn btn-success btn-lg px-3">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</section>    
<!-- End Article -->

{% endblock %}

